.new-expense__controls {
    /* display: flex; */
    flex-wrap: wrap;
    gap: 1rem;
    margin-bottom: 1rem;
    text-align: left;
    }
    .new-expense__control label {
    font-weight: bold;
    margin-bottom: 0.5rem;
    font-size: 1.6rem;
    margin-left: 1rem;
    /* display: block; */
    }
    .new-expense__control input {
    font: inherit;
    padding: 0.5rem;
    border-radius: 6px;
    border: 1px solid #ccc;
    width: 40rem;
    max-width: 100%;
    padding: 1rem;
    margin-left: 1rem;
    margin-bottom: 1rem;
    font-size: 1.6rem;
    }
    .new-expense__actions {
        margin-left: 1rem;
    }
    .new-expense__actions button{
        border: none;
        padding: 1rem;
        border-radius: 1rem;
        font-size: 1.6rem;
        background-color: blueviolet;
        cursor: pointer;
    }